div{
    color:blue;
    background-color:aquamarine;
    border:5px double orangered;
    height:200px;
    width:500px;
}
#heading
{
   background-color: red; 
   text-align:center;
   font-style: italic;
}
.para{
    color: brown;
    font-weight: bold;
    font-style: italic;
   background-color: antiquewhite;

   } 